
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fas {
    font-size: 1.2em;
}

.navbar{
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}
.logo{
   height: 60px;
   width: 60px;
   grid-column: 1/2;
}
.menu{
    grid-column: 4/7;
    display: flex;
}
ul li{
    margin-right: 3em;
    list-style: none;
}

a{
    text-decoration: none;  
    color: black;
    cursor: pointer;
}
.shop {
    grid-column: 8 / 9;
    justify-content: flex-end;
  }
.menu-bar{
    display: none
}
/* h2{
    text-align: center;
    padding: auto;
} */
.contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    background-color: antiquewhite;
    color: aqua;
}
.tarjetas{
    width: 500px;
    height: 500px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
img{
    width: 400px;
    height: 400px;
}
