@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:lavenderblush ;
    font-family: 'Josefin Sans', sans-serif;
}
/* header */
.bienvenida{
    background-image: url("./imagenes/7525.jpg");
    background-size: cover;
    color: crimson;
    text-align: center;
    width: 1200px;
    height: 600px;
    padding: 30px;
    margin: 30px; 
    border: 1px solid gainsboro;
}
.bienvenida h1{
    font-weight: bold;
    position: relative;
    top: 200px;
}
.enlaceProductos{
    text-decoration: none;
    list-style: none;
    color: black;
    cursor: pointer;
    position: absolute;
    left: 455px;
    bottom: 200px;
    z-index: 1;
    font-size: 25px;
    padding: 25px;
    border-radius:15px;
    background-color: red;
    color: white;
}

/* main */
.contenedor{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    row-gap: 20px;
    column-gap: 20px;
}
.tarjetas{
    width: 100%;
    background-color: beige;
    color: black;
    border: 1px solid gainsboro; 
    padding: 20px;
    margin: 20px;
    font-size: 150%;
    justify-self: center; 
}
.tarjetas img{
    width: 100%;
}
h2{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 35px;
}
p{
    color: black;
    font-weight: 20px;
}
.boton{
    text-decoration: none;
    list-style: none;
    position: relative;
    left: 400px;
    bottom: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: red;
    color: white;
}

/*footer*/
footer {
background-color: black;
color: dimgrey;  
padding: 20px;
}
footer p{
    color: dimgrey;
}
.contenedor-footer {
display: flex;
justify-content: space-between;
align-items: center;
}
.social-icons {   
    display: flex;
}
.fa {   
margin-right: 10px;
font-size:30px;
}


/*media queries*/
@media  (max-width:800px){
    .bienvenida{
        display: none;
    }
    
    h2{
        left: 200px;
        top: 250px;
    }
    .contenedor{
        width: 500px;
        grid-template-columns: repeat(1,1fr); 
    }
    .boton{
        left: 100px;
        bottom: 10px;
        font-size: 15px;
        padding: 15px;
    }
}
@media  (max-width:500px){
    h2{
        left: 100px;
        top: 250px;
    }
    .contenedor{
        width: 350px;
        grid-template-columns: 1fr; 
    }
    .boton{
        left: 150px;
        bottom: 15px;
        font-size: 15px;
        padding: 20px;
    }
}
