@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:lavenderblush ;
    font-family: 'Josefin Sans', sans-serif;
}
.fas {
    font-size: 1.2em;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}
.logo{
   height: 60px;
   width: 60px;
   grid-column: 2/3;
}
.menu{
    grid-column: 6/9;
    display: flex;
}
ul li{
    margin-right: 3em;
    list-style: none;
}

li a{
    text-decoration: none;  
    color: black;
    cursor: pointer;
}
.shop {
    grid-column: 11/12;
    justify-content: flex-end;
    cursor: pointer;
  }
.menu-bar{
    display: none
}

h2 {
    position: absolute;
    left: 300px;
    top: 300px;
    z-index: 1;
    font-size: 50px;
    padding: 25px;
  }
.enlaceProductos{
    text-decoration: none;
    list-style: none;
    color: black;
    cursor: pointer;
    position: absolute;
    left: 500px;
    bottom: 100px;
    z-index: 1;
    font-size: 25px;
    padding: 25px;
    border: solid;
    background-color: red;
    color: white;

}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding: 20px
}
.tarjetas{
    width: 530px;
    height: 530px;
    background-color: beige;
    color: black;
    border: 1px solid grey; 
    padding: 20px;
    font-size: 150%;
}
.tarjetas img{
    width: 400px;
    height: 400px;
}
.boton{
    text-decoration: none;
    list-style: none;
    position: relative;
    left: 350px;
    bottom: 15px;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: red;
    color: white;
}
h3{
    text-align: center;
    padding: 10px;
    font-size: 35px;
}
p{
    color: black;
    font-weight: 20px;
}
.fa-instagram{
    font-size:48px;
    color:red;
}